body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  .container {
    margin: 20px auto;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  form {
    display: flex;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  button[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2980b9;
    color: #fff;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #1c6373;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  .checkbox {
    margin-right: 10px;
  }
  
  .item {
    display: flex;
    align-items: center;
  }
  
  .due-date {
    margin-left: auto;
    font-size: 14px;
  }
  
  
  .item-text {
    margin: 0;
  }
  
  .delete {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .delete:hover {
    background-color: #c0392b;
  }

  #new-item-due-date,
  #new-item-due-time {
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 140px;
  }
    